{% extends 'base.html.twig' %}

{% block title %}Edit BrewHistory{% endblock %}

{% block body %}
    <h1>Edit BrewHistory</h1>

    {{ include('brew_history/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_brew_history_index') }}">back to list</a>

    {{ include('brew_history/_delete_form.html.twig') }}
{% endblock %}
