{% extends 'base.html.twig' %}

{% block title %}Edit Yeast{% endblock %}

{% block body %}
    <h1>Edit Yeast</h1>

    {{ include('yeast/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_yeast_index') }}">back to list</a>

    {{ include('yeast/_delete_form.html.twig') }}
{% endblock %}
