{% extends 'base.html.twig' %}

{% block title %}Edit Grain{% endblock %}

{% block body %}
    <h1>Edit Grain</h1>

    {{ include('grain/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_grain_index') }}">back to list</a>

    {{ include('grain/_delete_form.html.twig') }}
{% endblock %}
