{% extends 'base.html.twig' %}

{% block title %}New BrewFermentation{% endblock %}

{% block body %}
    <h1>Create new BrewFermentation</h1>

    {{ include('brew_fermentation/_form.html.twig') }}

    <a href="{{ path('app_brew_fermentation_index') }}">back to list</a>
{% endblock %}
