{% extends 'base.html.twig' %}

{% block title %}Edit Flavor{% endblock %}

{% block body %}
    <h1>Edit Flavor</h1>

    {{ include('flavor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_flavor_index') }}">back to list</a>

    {{ include('flavor/_delete_form.html.twig') }}
{% endblock %}
