{% extends 'base.html.twig' %}

{% block title %}Edit Brew{% endblock %}

{% block body %}
    <h1>Edit Brew</h1>

    {{ include('brew/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_brew_index') }}">back to list</a>

    {{ include('brew/_delete_form.html.twig') }}
{% endblock %}
