{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome !</h1>
<div>Un site web pour historiser et planifier tes brassins et leurs résultats.</div>
<div>Du moins ça le sera dans quelques temps, pour l'instant c'est plus une plateform d'autoformation à Symfony et VueJs :)</div>
{% endblock %}
